@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.mybg {
  background-color: #003d29;
}
.mytxt {
  /* color: #1a5843; */
  color: rgb(1, 107, 1);
}
body {
  font-family: Helvetica, Arial, sans-serif;
  @apply text-gray-900;
}

.fade-edge-swiper {
  position: relative;
  overflow: hidden;
}

.fade-edge-swiper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.037)
  );
  pointer-events: none;
  z-index: 1;
}
@media (min-width: 1024px) {
  .fade-edge-swiper::after {
    @apply lg:hidden;
  }
}

footer a {
  transition: all 0.3s ease;
  position: relative;
}

footer a:hover {
  color: #c34482;
}

/* SWIPER */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: green;
  scale: 0.6;
}

/* NAVBAR OPEN */
.chakra-modal__content-container {
  z-index: 50 !important;
  background-color: rgb(243 244 246) !important;
}

.container-lg {
  width: 100%;
  /* This value is for large screens */
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 500px) {
  .container-lg {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (min-width: 992px) {
  .container-lg {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}
